@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --transition-3: 0.3s;
    --transition-5: 0.5s;
    --main-color: #478CCF;
    --sub-color: #478CCF;

    --w-color: #fff;
    --b-color: #000;

    --p-100: 100px;
    --p-50: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    direction: rtl;
}

body,
button {
    font-family: "Cairo", sans-serif;
}

/* Start Container Setting */
.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1150px;
    }
}

/* End Container Setting */

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

ul {
    list-style: none;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.section-header,
.section-header-b {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2,
.section-header-b h2 {
    padding: 10px 15px;
    border: 1px solid var(--w-color);
    color: var(--w-color);
    width: fit-content;
    margin-inline: auto;
    position: relative;
    z-index: 1;
    transition: var(--transition-5);
}

.section-header h2::before,
.section-header-b h2::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--w-color);
    border-radius: 50%;
    z-index: -1;
}

.section-header h2::after,
.section-header-b h2::after {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--w-color);
    border-radius: 50%;
    z-index: -1;
}

.section-header h2:hover,
.section-header-b h2:hover {
    color: var(--main-color);
}

.section-header h2:hover::after,
.section-header-b h2:hover::after {
    animation: left 0.6s linear forwards;
}

.section-header h2:hover::before,
.section-header-b h2:hover::before {
    animation: right 0.6s linear forwards;
}

.section-header-b h2 {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.section-header-b h2:hover {
    color: var(--w-color);
}

.section-header-b h2::before,
.section-header-b h2::after {
    background-color: var(--main-color);
}

@keyframes right {
    50% {
        right: 0;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes left {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 786px) {
    .section-header h2 {
        padding: 10px 15px;
        font-size: 22px;
    }
}

@media (max-width: 486px) {
    .section-header h2 {
        padding: 10px 15px;
        font-size: 18px;
    }

    .section-header h2::before {
        right: -20px;
    }

    .section-header h2::after {
        left: -20px;
    }
}

/* Start Header */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    transition: var(--transition-5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-header {
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-block: 15px;
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 800;
    transition: var(--transition-3);
}

.header .container .logo a:hover {
    color: var(--sub-color);
}

.header .container .nav .iteams-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .container nav .iteams-list .iteam .iteam-link {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--main-color);
    transition: var(--transition-3);
}

.header .container nav .iteams-list .iteam .iteam-link:hover {
    color: var(--sub-color);
}

.header .container nav .iteams-list .iteam .iteam-link span {
    font-size: 18px;
}

.header-scroll {
    background-color: var(--main-color);
    --sub-color: #fff;

    .container nav .iteams-list .iteam .iteam-link,
    .container .logo a {
        color: var(--w-color);
    }
}

/* Start media query for header */
@media screen and (max-width: 786px) {
    .btn-header {
        display: block;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        border: none;
        outline: none;
        color: var(--w-color);
        cursor: pointer;
        border: 3px solid var(--w-color);

        svg {
            font-size: 20px;
        }
    }

    .header {
        border-left: 1px solid var(--w-color);
        border-top: 1px solid var(--w-color);
        border-left: 1px solid var(--w-color);
        position: fixed;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        background-color: var(--main-color);
        --sub-color: #fff;

        .container nav .iteams-list .iteam .iteam-link,
        .container .logo a {
            color: var(--w-color);
        }
    }

    .header .container {
        padding-top: 45px;
        padding-bottom: 3px;
        gap: 10px;
        flex-direction: column-reverse;
        height: 60px;
        overflow: hidden;
    }

    .header .open-nav {
        height: auto;
    }

    .header .container .logo {
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }

    .header .container .logo a {
        width: 100%;
        font-size: 18px;
    }

    .header .container .nav {
        width: 100%;
    }

    .header .container .nav .iteams-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .header .container .nav .iteams-list .iteam {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .container nav .iteams-list .iteam .iteam-link {
        font-size: 14px;
        flex-direction: column;
        line-height: 1;
        width: fit-content;

        span {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 650px) {
    .header .container .nav .iteams-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    .header .container .nav .iteams-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 350px) {
    .header .container .nav .iteams-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 250px) {
    .header .container .nav .iteams-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

/* End media query for header */
/* End Header */

/* Start Landing */
.landing {
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: 70% 30%;
    position: relative;
    height: 100vh;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.landing .container {
    position: relative;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .container .content {
    h2 {
        color: var(--main-color);
        font-size: 48px;
        line-height: 1.6;
    }

    p {
        color: var(--main-color);
        font-size: 22px;
        line-height: 1.6;
    }

    margin-bottom: 25px;
}

.landing .container .landing-login {
    .btn a {
        padding: 5px 20px;
        font-size: 18px;
        border: 1px solid var(--main-color);
        border-radius: 7px;
        font-weight: 600;
        color: var(--main-color);
        position: relative;
        overflow: hidden;
        transition: var(--transition-3);
    }

    .btn a::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transition: var(--transition-3);
    }

    .btn a:hover {
        color: var(--w-color);
    }

    .btn a:hover::before {
        right: 0;
    }
}

@media (max-width: 486px) {
    .landing .container .content {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        margin-bottom: 20px;
    }

    .landing .container .landing-login .btn a {
        padding: 5px 10px;
        font-size: 14px;
    }
}
/* End Landing */

/* Start About */
.about {
    padding-block: var(--p-100);
}

.about .section-header h2 {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.about .section-header h2::after,
.about .section-header h2::before {
    background-color: var(--main-color);
}

.about .section-header h2:hover {
    color: var(--w-color);
}

.about .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
}

.about .container img {
    width: 450px;
    max-width: 100%;
}


.about .container .content {
    color: var(--sub-color);

    h2 {
        font-size: 28px;
        color: var(--main-color);
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
        font-size: 22px;
    }

    ul {
        margin-top: 10px;
    }

    ul li {
        position: relative;
        padding-right: 15px;
        color: var(--b-color);
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
            width: 10px;
            height: 2px;
            background-color: var(--main-color);
        }
    }
}

@media (max-width: 786px) {
    .about .container {
        flex-direction: column;
    }

    .about .container .image {
        margin: auto;
    }

    .about .container .content h2 {
        font-size: 22px;
    }

    .about .container .content p {
        font-size: 16px;
    }

    .about .container .content ul li {
        font-size: 14px;
    }
}

.box img {
    width: 100px;
}

/* End About */

/* Start info */
.info {
    padding-block: var(--p-100);
    background-color: var(--main-color);
}


.info .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.info .container .boxs .box {
    text-align: center;
    position: relative;
    border: 1px solid var(--w-color);
    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;

    h2 {
        color: var(--w-color);
    }

    p {
        color: var(--w-color);
    }
}

.info .container .boxs .box span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    color: var(--w-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    border: 3px solid var(--w-color);
}

@media (max-width: 486px) {
    .info .container .boxs {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .info .container .boxs .box {
        h2 {
            color: var(--w-color);
            font-size: 16px;
        }

        p {
            color: var(--w-color);
            font-size: 14px;
        }
    }
}

/* Start info */

/* Start Footer */
.footer {
    padding-top: var(--p-50);
    background-color: var(--main-color);
    border-bottom: 2px solid var(--w-color);
    position: relative;
    z-index: 1;
}

.footer .footer-background {
    position: absolute;
    width: 120px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(2px);
    z-index: -1;
}
.footer .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 25px;
}

.footer .container .boxs h2 {
    border-bottom: 1px solid var(--w-color);
    width: fit-content;
}

.footer .container .boxs h2,
.footer .container .boxs h2 a {
    color: var(--w-color);
}

.footer .container .boxs a {
    color: var(--w-color);
}

.footer .social .boxs {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footer .social .boxs section svg {
    font-size: 30px;
}

.footer .section-header {
    margin-bottom: 15px;
}

.copy-right {
    background-color: var(--main-color);
    padding: 15px;
    color: var(--w-color);
    font-size: 16px;
    text-align: center;
}

@media (max-width: 786px) {
    .footer .container .boxs h2,
    .footer .container .boxs h2 a {
        font-size: 18px;
    }

    .footer .container .boxs a {
        font-size: 14px;
    }

    .copy-right {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 70px;
    }
}
/* Start Footer */

/* Start Medical departments */
.medical-departments {
    padding-block: var(--p-100);
}

.medical-departments .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
}

.medical-departments .boxs .box {
    border: 1px solid var(--main-color);
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: var(--transition-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.medical-departments .boxs .box p {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.medical-departments .boxs .box a {
    background-color: var(--main-color);
    display: block;
    color: var(--w-color);
    font-size: 16px;
    padding-block: 5px;
}

.medical-departments .boxs .box img {
    max-width: 100%;
}

.medical-departments .boxs .box:hover {
    transform: translateY(-10px);
}
/* End Medical departments */