<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <!-- Css -->
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <section class="header">
        <section class="container" style="display: block; text-align: center;">
            <section class="logo">
                <a href="/">
                    الهوية الطبية
                </a>
            </section>
        </section>
    </section>
    <section class="form-register">
        <section class="container">
            <form action="/login" method="POST">
                <section class="input-section">
                    <input type="email" name="email" id="email" placeholder="الايميل الشخصي">
                </section>
                <section class="input-section">
                    <input type="password" name="password" id="password" placeholder="كلمة المرور">
                </section>
                <button type="submit" class="btn">تسجيل الدخول</button>
                <a href="/signup">ليس لديك حسساب ؟ قم بانشاء حساب</a>
            </form>
        </section>
    </section>
</body>

</html>